@import url('https://fonts.googleapis.com/css?family=Markazi+Text|Roboto:400,400i,700,700i')

$lightgrey: #F2F2F2;
$grey: #D3D3D3;
$darkgrey: #686868;


/***********************************
 *           ControlArea 
 ***********************************/






/***********************************
 *           MainManu 
 ***********************************/

h1 
  font-size: 4.375em !important
  font-family: 'Roboto', sans-serif !important

  .header_title_left
    color: $darkgrey !important
  
  .header_title_right
    color: $lightgrey !important

.ui.inverted.menu
  border: 0 solid transparent !important
  background: $grey !important

.ui.inverted.menu .item, .ui.inverted.menu .item > a:not(.ui) 
  background: 0 0 !important
  color: $darkgrey !important


@media only screen and (max-width : 767px)
  #menu-item-center
    display: none
  #menu-item-left
    display: none

@media only screen and (min-width : 768px)
  .ui.top.right.pointing.dropdown > .menu
    top: 100%
    bottom: auto
    right: 50px !important
    left: auto
    margin: 1em 0 0
    min-width: 150px !important



/***********************************
 *           MainManu Dropdown
 ***********************************/

.text
  font-family: 'Roboto', sans-serif !important
  font-size: 1.5em !important
  margin-left: 40px !important

.ui.menu .ui.dropdown.item .menu .item:not(.filtered)
  display: block
  font-size: 2rem !important
  font-family: 'Roboto', sans-serif !important
  font-weight: 700 !important
  padding:  40px !important

i.icon.folder:before
  content: "\F07B"
  font-size: 2.7em !important

i.icon.file:before 
  content: "\F15B"
  font-size: 2.7em !important

i.icon.trash:before 
  content: "\F1F8"
  font-size: 2.7em !important


.ui.button > .icon:not(.button) 
  height: 1em !important


/***********************************
 *           MainManu Modal
 ***********************************/

p 
  font-size: 1.5em !important
  font-family: 'Roboto', sans-serif !important

.content
  font-size: 1.5em !important
  font-family: 'Roboto', sans-serif !important